html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

/* HEADER */
.header{
    margin-bottom: 10rem;
}
.header img {
    width: 30rem;
    padding: 2rem;
}

.header-info {
    background-image: url("../img/rickmorty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 20rem;
}

.header h1 {
    margin: 0;
    padding: 0 1rem;
    font-size: 6rem;
    text-align: center;
}

@media (min-width:768px) {
    .header-info {
        background-image: url("../img/rickmorty.jpg");
        height: 50rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .header h1 {
        margin: 0 auto;
        font-size: 8rem;
        padding: 1rem;
        font-weight: bold;
        text-align: center;
    }

}


.header h1 span {
    font-size: 3rem;
    font-weight: 300;
}

/* navigate */

.navigate-barra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0 0 0;
    margin: 1rem auto 2rem auto;
}

.navigate-barra .nav-li {
    background-color: royalblue;
    color: #f1f1f1;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.5rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    width: 60%;
}

@media (min-width: 768px) {
    .navigate-barra {
        max-width: 60%;
        flex-direction: row;
        margin-bottom: 5rem;
    }

    .navigate-barra .nav-li {
        font-size: 2.4rem;
        padding: 1.5rem 2.5rem;
        margin: 0 1rem;
    }
}

/* main */
.contenido {
    max-width: min(95%, 125rem);
    margin: 2rem auto;
}

.buscador {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 5rem;
}

.buscador__label {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
}
.buscador__input {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    margin-top: 3rem;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .buscador {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin: 0 auto;
        padding-top: 10rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    .buscador__label {
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
    }

    .buscador__input {
        width: 100%;
        padding: 1rem 2rem;
        font-size: 2rem;
        margin-top: 3rem;
        border-radius: 5px;
    }

}

@media (min-width: 768px) {
    .contenedor-personajes {
        display: grid;
        align-items: flex-end;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;
    }
}

.contenedor-personajes {
    margin-top: 5rem;
    padding: 2rem;
}

.personaje {
    border-radius: 25px 25px 0 0;
    text-align: center;
    margin-bottom: 5rem;
}

.personaje:hover {
    transform: translateY(-7px);
    transition: 1s;
}

.personaje__img {
    max-width: 80%;
    border-radius: 50%;
    transform: translateY(10rem);
}

.personaje .caja-imagen {
    background-image: url("https://images3.alphacoders.com/812/812062.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 70px 0 350px 0;
}

.personaje__informacion {
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 1rem 0 0 0;
}

.personaje__nombre,
.personaje__tipo,
.personaje__estado {
    margin: 2rem auto;
    max-width: 25rem;
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
}

.personaje__nombre {
    text-align: center;
    font-size: 3rem;
    padding-top: 8rem;
}

.personaje-info {
    display: flex;
    background-color: #fff;
    border: 1px solid;
    color: #000;
    align-items: center;
    font-size: 2rem;
    padding: 0 2rem;
}

.personaje__tipo {
    font-size: 1.8rem;
}

.personaje__estado {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    font-size: 1.8rem;
}

.status-alive {
    border-radius: 50%;
    background-color: green;
    width: 10px;
    height: 10px;
}

.status-dead {
    border-radius: 50%;
    background-color: red;
    width: 10px;
    height: 10px;
}

.personaje-informacion_boton {
    margin: 1rem auto;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: royalblue;
    border: none;
    color: #f1f1f1;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
}

/* footer */

.footer {
    background-color: #000;
    color: #f1f1f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}